/*
Theme Name: Modern Store Child
Theme URI: https://www.competethemes.com/modern-store/
Description: Modern Store Child Theme
Author: Paula Menendez
Author URI: http://example.com
Template: modern-store 
Version: 1.17
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  modern-store-child
*/

@media all and (min-width: 56.25em) {

  .post-title {
    font-size: 2em;

  }

  .entry {
    max-width: 1200px;

  }
}

/*social media icons*/
@media all and (min-width: 50em) {
    .social-icons-container .social-media-icons a {
        font-size: 30px;
        line-height: 48px;
        width: 50px;
        height: 50px;
        border-color: #df64e5;
    }

    .social-icons-container .social-media-icons a:link, .social-icons-container .social-media-icons a:visited {
        color: #df64e5;
    }
}

.social-media-footer-box{
    display:flex;
    }

/*box-sizing: inherit;*/

/* "become a seller" button modifications for mobile*/ 
@media (min-width: 50em){
    .header-top {
        float: right;
        border-bottom: solid 0px ; 
    }
}

.button-become-a-vendor {
    /* font-size: 1em; */
    display: block;
    margin: auto;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    letter-spacing: -0.02em;
    padding: 12px 24px;
    color: white;
    background: green ;
    outline: none;
    border: none;
    border-radius: 4px;
    -webkit-appearance: none;
    transition: background 0.2s;
}


.button-become-a-vendor1 {
    /* font-size: 1em; */
    display: block;
    margin: auto;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    letter-spacing: -0.02em;
    padding: 12px 24px;
    color: black;
    background: #D500FF ;
    outline: none;
    border: none;
    border-radius: 4px;
    -webkit-appearance: none;
    transition: background 0.2s;
}


#bouton_container
{

	display:flex;
	justify-content: space-around;
}




/* removes side bar in shop page, and amybe elsewhere */
.woocommerce .sidebar-store {
    display: none;
}
/* makes shop page fill width, and maybe elsewhere */
@media (min-width: 50em){
    .woocommerce .loop-container {
    width: 100%;
    }
}


/*  mobile */
@media (max-width: 480px){
    /* to make products show smaller on the mobile */
    .wc-block-grid.has-4-columns .wc-block-grid__product {
        max-width: 70%;
    }
    /*give space to buy button */
    .wp-block-button__link{
        padding: 8px 24px;
    }
    /*reduce size of font on mobile*/
    ul, ol {
        font-size: 0.75em;
    }
    /*make buy button smaller */
    /* i put !important because it comes from the woocommerce style sheet which loads after this child style and therefore overrides it*/
    .wc-block-grid__product-add-to-cart a, .wc-block-grid__product-add-to-cart button {
        margin: 0.5em !important;
    }
    .button-become-a-vendor {
    font-size: 0.5em;
    display: none;
    margin: auto;
    line-height: 0.5;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    letter-spacing: -0.02em;
    padding: 8px 12px;
    color: black;
    background: #3336FF;
    outline: none;
    border: none;
    border-radius: 4px;
    -webkit-appearance: none;
    transition: background 0.2s;
}

.banner img {
    display: none;
}   





@media (min-width: 50em)
.mobile-menu-container:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: red;
    top: 0;
    right: -999px;
    bottom: 0;
    left: -999px;
}


body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #1A1A1A;
  background: white;
  -webkit-font-smoothing: antialiased;
}




@font-face {
    font-family: 'Prompt Black 900';
    src: url('/fonts/prompt/Prompt Black 900.ttf');
}


.tagline {
    margin: 0;
    font-weight: bold;
    color: blue;
    font-family:'Prompt Black 900';
}


.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}











    /* 

}





/*
.wcmp_vendor_banner_template.template3 .vendor_description {
    position: relative;
    padding-top: 0;
    margin-top: 0px ; 
    background: 0 0;
}

.wcmp_vendor_banner {
    padding: 30px;
    float: left;
    width: 50% ;
}



.vendor_description {
    width: 50% ;
    clear: both;
    display: inline-block;
    padding: 15px;
    background-color: rgba(0,0,0,.5);
    font-weight: 700;
}


.content-area {
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
 
.content-area .site {
margin:0px;
}*/



.islaclass {

    color: yellow;
}