@charset "UTF-8";
/*
Theme Name: Modern Store
Theme URI: https://www.competethemes.com/modern-store/
Author: Compete Themes
Author URI: https://www.competethemes.com/
Description: Modern Store is a clean and free eCommerce theme for WooCommerce shops. It features a minimalist aesthetic that is fully responsive on laptops, tablets, and mobile devices. Use this simple theme to sell any items from clothing and fashion to sports and health products. Modern Store includes a huge variety of features including a customizable homepage template, custom brand color, header promo section, built-in-shopping cart button, store-wide search bar, social media icons, custom logo, and more. There's even an upgrade available for users who want additional customization settings. Modern Store is fully compatible with Gutenberg, Elementor, Yoast SEO, Contact Form 7, WooCommerce, and thousands of other plugins. Copy & paste this URL to view the fully setup live demo now: https://www.competethemes.com/demos/?theme=Modern+Store
Version: 1.17
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: grid-layout, one-column, two-columns, three-columns, left-sidebar, custom-colors, custom-header, custom-logo, custom-menu, featured-images, flexible-header, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, blog, e-commerce, portfolio
Text Domain: modern-store
Tested up to: 5.5
Requires PHP: 5.4

Modern Store WordPress Theme, Copyright 2020 Compete Themes
Modern Store is distributed under the terms of the GNU GPL
*/
/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
.post-title, h1 {
  font-size: 1.75em;
  /* 28px / 16px */
  line-height: 1.143;
  /* 32px */
}

.user-icon,
.cart-icon {
  font-size: 1.5em;
  /* 24px / 16px */
  line-height: 1;
  /* 24px */
}

.page-template-homepage .latest-posts .post-title, .header-promo .title, .woocommerce-cart .cart-collaterals .cross-sells h2,
.woocommerce-cart .cart-collaterals .cart_totals h2, .woocommerce.single-product #review_form #respond .comment-reply-title, .site-title, h2 {
  font-size: 1.3125em;
  /* 21px / 16px */
  line-height: 1.143;
  /* 24px */
}

.woocommerce.single-product .comment-form .stars, .woocommerce.single-product #reviews #comments .review .star-rating, .social-icons-container .social-media-icons a, h3, .archive-header h1,
.search-header h1 {
  font-size: 1.125em;
  /* 18px / 16px */
  line-height: 1.333;
  /* 24px */
}

.page-template-homepage .latest-posts .post-byline, .widget-title {
  font-size: 0.875em;
  /* 14px / 16px */
  line-height: 1.714;
  /* 24px */
}

.woocommerce ul.cart_list .amount,
.woocommerce ul.product_list_widget .amount, .woocommerce ul.cart_list .reviewer,
.woocommerce ul.product_list_widget .reviewer, .woocommerce ul.cart_list .star-rating,
.woocommerce ul.product_list_widget .star-rating, .site-header .search-form-container .category-select select, .sticky-status, .further-reading span, .comment-footer, .wp-caption-text,
.gallery-caption,
.wp-caption-dd, img figcaption,
.alignright figcaption,
.alignleft figcaption,
.aligncenter figcaption,
.alignnone figcaption,
.size-auto figcaption,
.size-full figcaption,
.size-large figcaption,
.size-medium figcaption,
.size-thumbnail figcaption, .wp-block-table figcaption {
  font-size: 0.75em;
  /* 12px / 16px */
  line-height: 1.5;
  /* 18px */
}

.woocommerce-account .woocommerce-MyAccount-navigation ul a, .woocommerce ul.products li.product a, .woocommerce .woocommerce-breadcrumb a, .widget ul li a, .further-reading a, .post-tags a, .post-categories a, .more-link, .post-title a, .site-title a, .comment-author .author-name a {
  color: #1A1A1A;
  text-decoration: none;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul a:link, .woocommerce ul.products li.product a:link, .woocommerce .woocommerce-breadcrumb a:link, .widget ul li a:link, .further-reading a:link, .post-tags a:link, .post-categories a:link, .more-link:link, .post-title a:link, .site-title a:link, .comment-author .author-name a:link, .woocommerce-account .woocommerce-MyAccount-navigation ul a:visited, .woocommerce ul.products li.product a:visited, .woocommerce .woocommerce-breadcrumb a:visited, .widget ul li a:visited, .further-reading a:visited, .post-tags a:visited, .post-categories a:visited, .more-link:visited, .post-title a:visited, .site-title a:visited, .comment-author .author-name a:visited {
  color: #1A1A1A;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul a:hover, .woocommerce ul.products li.product a:hover, .woocommerce .woocommerce-breadcrumb a:hover, .widget ul li a:hover, .further-reading a:hover, .post-tags a:hover, .post-categories a:hover, .more-link:hover, .post-title a:hover, .site-title a:hover, .comment-author .author-name a:hover, .woocommerce-account .woocommerce-MyAccount-navigation ul a:active, .woocommerce ul.products li.product a:active, .woocommerce .woocommerce-breadcrumb a:active, .widget ul li a:active, .further-reading a:active, .post-tags a:active, .post-categories a:active, .more-link:active, .post-title a:active, .site-title a:active, .comment-author .author-name a:active, .woocommerce-account .woocommerce-MyAccount-navigation ul a:focus, .woocommerce ul.products li.product a:focus, .woocommerce .woocommerce-breadcrumb a:focus, .widget ul li a:focus, .further-reading a:focus, .post-tags a:focus, .post-categories a:focus, .more-link:focus, .post-title a:focus, .site-title a:focus, .comment-author .author-name a:focus {
  color: #1A1A1A;
  text-decoration: underline;
}

.social-icons-container .social-media-icons a, .menu-secondary-items a, .menu-primary ul a, .design-credit a {
  color: white;
  text-decoration: none;
}
.social-icons-container .social-media-icons a:link, .menu-secondary-items a:link, .menu-primary ul a:link, .design-credit a:link, .social-icons-container .social-media-icons a:visited, .menu-secondary-items a:visited, .menu-primary ul a:visited, .design-credit a:visited {
  color: white;
}
.social-icons-container .social-media-icons a:hover, .menu-secondary-items a:hover, .menu-primary ul a:hover, .design-credit a:hover, .social-icons-container .social-media-icons a:active, .menu-secondary-items a:active, .menu-primary ul a:active, .design-credit a:active, .social-icons-container .social-media-icons a:focus, .menu-secondary-items a:focus, .menu-primary ul a:focus, .design-credit a:focus {
  color: white;
  text-decoration: underline;
}

.comment-reply-link,
.comment-edit-link, #cancel-comment-reply-link {
  color: #FFC270;
  text-decoration: none;
}
.comment-reply-link:link,
.comment-edit-link:link, #cancel-comment-reply-link:link, .comment-reply-link:visited,
.comment-edit-link:visited, #cancel-comment-reply-link:visited {
  color: #FFC270;
}
.comment-reply-link:hover,
.comment-edit-link:hover, #cancel-comment-reply-link:hover, .comment-reply-link:active,
.comment-edit-link:active, #cancel-comment-reply-link:active, .comment-reply-link:focus,
.comment-edit-link:focus, #cancel-comment-reply-link:focus {
  color: #FFC270;
  text-decoration: underline;
}

.woocommerce-account .woocommerce-MyAccount-content .woocommerce-orders-table .woocommerce-orders-table__cell-order-actions .button,
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-table .woocommerce-orders-table__cell-order-actions .button, .woocommerce-message a.button,
.woocommerce-info a.button, .woocommerce a.button,
.woocommerce button.button {
  font-weight: 900;
  background: #000;
  color: #fff;
  transition: background 0.2s, color 0.2s;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-orders-table .woocommerce-orders-table__cell-order-actions .button:hover,
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-table .woocommerce-orders-table__cell-order-actions .button:hover, .woocommerce-message a.button:hover,
.woocommerce-info a.button:hover, .woocommerce a.button:hover,
.woocommerce button.button:hover, .woocommerce-account .woocommerce-MyAccount-content .woocommerce-orders-table .woocommerce-orders-table__cell-order-actions .button:active,
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-table .woocommerce-orders-table__cell-order-actions .button:active, .woocommerce-message a.button:active,
.woocommerce-info a.button:active, .woocommerce a.button:active,
.woocommerce button.button:active, .woocommerce-account .woocommerce-MyAccount-content .woocommerce-orders-table .woocommerce-orders-table__cell-order-actions .button:focus,
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-table .woocommerce-orders-table__cell-order-actions .button:focus, .woocommerce-message a.button:focus,
.woocommerce-info a.button:focus, .woocommerce a.button:focus,
.woocommerce button.button:focus {
  color: #fff;
  background: #FFC270;
}

/*===== Basic Styles =====*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #1A1A1A;
  background: white;
  -webkit-font-smoothing: antialiased;
}

.overflow-container {
  position: relative;
  overflow: hidden;
  height: auto;
  min-height: 100%;
}

.main-container {
  margin: 1.5em 0 0;
  padding: 0 3.125%;
  min-height: calc(100vh - 200px);
}

.loop-container {
  margin-bottom: 4.5em;
}
.loop-container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.page-template-full-width .entry {
  max-width: none;
  padding: 0;
}
.page-template-full-width .post-content {
  padding: 0;
}

p {
  margin: 1.5em 0;
}

a {
  color: #1A1A1A;
  transition: color 0.2s;
}
a:link, a:visited {
  color: #666666;
}
a:hover, a:active, a:focus {
  color: #FFC270;
}

h1, h2, h3, .archive-header h1,
.search-header h1, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  margin: 0 0 24px 0;
  padding: 0;
  font-weight: 900;
}

.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6 {
  font-family: "Lato", sans-serif;
  margin: 0 0 24px 0;
  padding: 0;
  font-weight: 900;
}

h4, h5, h6 {
  font-size: 1em;
  line-height: 1.5;
}

@media all and (min-width: 43.75em) {
  h1 {
    font-size: 2.375em;
    /* 38px / 16px */
    line-height: 1.342;
    /* 42px */
  }

  h2 {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.143;
    /* 32px */
  }

  h3, .archive-header h1,
.search-header h1 {
    font-size: 1.3125em;
    /* 21px / 16px */
    line-height: 1.143;
    /* 24px */
  }

  h4 {
    font-size: 1.125em;
    /* 18px / 16px */
    line-height: 1.333;
    /* 24px */
  }
}
ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
pre {
  word-wrap: break-word;
  background: #F5F5F5;
  white-space: pre-wrap;
  padding: 0.75em;
}

code {
  background: #F5F5F5;
  padding: 0 0.75em;
}

pre code {
  padding: 0;
}

blockquote,
.wp-block-quote,
.wp-block-quote.is-style-large {
  margin: 1.5em 1.5em 1.5em 0;
  padding-left: 1.5em;
  border-left: solid 4px #FFC270;
}
blockquote cite,
.wp-block-quote cite,
.wp-block-quote.is-style-large cite {
  display: block;
  color: #666666;
}

.wp-block-quote.is-style-large {
  border-left: none;
  padding-right: 1.5em;
}

hr {
  margin: 1.5em 0;
  border-color: #EBEBEB;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td,
th {
  padding: 0.75em;
  border: solid 1px #EDEDED;
}

.wp-block-table {
  margin: 0;
}
.wp-block-table thead,
.wp-block-table tfoot {
  background: #F5F5F5;
}
.wp-block-table td,
.wp-block-table th {
  border-color: #EDEDED;
}

.wp-block-table.is-style-stripes {
  border-bottom: none;
}
.wp-block-table.is-style-stripes thead {
  background: none;
}
.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th {
  border-color: #EDEDED;
}

.wp-block-table figcaption {
  margin: -1.5em 0 1.5em;
  text-align: center;
}

/* Images */
.wp-block-image {
  margin: 0;
}

.alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.aligncenter {
  text-align: center;
  margin: 1.5em auto;
  display: block;
}

.alignnone {
  margin: 1.5em 0;
}

img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
img figcaption,
.alignright figcaption,
.alignleft figcaption,
.aligncenter figcaption,
.alignnone figcaption,
.size-auto figcaption,
.size-full figcaption,
.size-large figcaption,
.size-medium figcaption,
.size-thumbnail figcaption {
  margin-top: 0;
}

.wp-caption-text,
.gallery-caption,
.wp-caption-dd {
  margin-top: 0;
}

/* Form styles */
input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=search],
input[type=tel],
input[type=url],
textarea {
  font-size: 1em;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  width: 100%;
  padding: 9px 12px;
  background: #fff;
  border: solid 1px #D9D9D9;
  border-radius: 6px;
  -webkit-appearance: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=url]:focus,
textarea:focus {
  outline: none;
  border-color: #FFC270;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

textarea {
  overflow: auto;
  /* to hide scrollbar in IE */
}

input[type=submit],
button {
  font-size: 1em;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  letter-spacing: -0.02em;
  padding: 12px 24px;
  color: white;
  background: #000;
  outline: none;
  border: none;
  border-radius: 4px;
  -webkit-appearance: none;
  transition: background 0.2s;
}
input[type=submit]:hover,
button:hover {
  cursor: pointer;
}
input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus,
button:hover,
button:active,
button:focus {
  background: #FFC270;
}

::-webkit-input-placeholder {
  color: #B3B3B3;
}

:-moz-placeholder {
  color: #B3B3B3;
}

::-moz-placeholder {
  color: #B3B3B3;
}

:-ms-input-placeholder {
  color: #B3B3B3;
}

/* ie image border fix */
a img {
  border: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

.skip-content {
  position: absolute;
  top: -100%;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  color: white !important;
  z-index: 99;
  padding: 1.5em;
  transition: top 0.2s ease-in-out;
}
.skip-content:focus {
  top: 0;
  outline: none;
}

.admin-bar .skip-content:focus {
  top: 32px;
}

.max-width {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
}

.archive-header,
.search-header {
  margin: 2.25em auto;
  padding: 0 3.125%;
  max-width: 900px;
  text-align: center;
}
.archive-header h1,
.search-header h1 {
  font-weight: 400;
}
.archive-header i,
.search-header i {
  margin-right: 2px;
}

.comment-respond {
  margin-top: 1.5em;
}

.comment-form p {
  margin: 18px 0;
}
.comment-form .comment-form-comment {
  margin-top: 24px;
}
.comment-form label {
  display: block;
  margin-bottom: 4px;
}
.comment-form input,
.comment-form textarea {
  border-radius: 6px;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.comment-form input:focus,
.comment-form textarea:focus {
  outline: none;
  border-color: #FFC270;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.comment-form .comment-form-cookies-consent label {
  display: inline;
  margin-left: 4px;
}
.comment-form .form-submit {
  margin-top: 2.25em;
}
.comment-form .form-submit input {
  background: #000;
  border-radius: 4px;
  transition: background 0.2s;
}
.comment-form .form-submit input:hover {
  background: #FFC270;
}

#cancel-comment-reply-link {
  font-size: 14px;
  margin-left: 6px;
}

.comments {
  padding: 0 12px;
  margin-top: 3em;
}

.comment-list {
  list-style: none;
  margin: 0;
}

.comments-number {
  margin-bottom: 1.5em;
}

li.comment,
li.pingback {
  margin: 2.25em 0;
}

.comment-author {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}
.comment-author .avatar {
  margin-right: 0.75em;
  border-radius: 50%;
}
.comment-footer {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-top: 1.5em;
}

.comment-reply-link,
.comment-edit-link {
  font-weight: 900;
  margin-left: 12px;
}
.comment-reply-link:before,
.comment-edit-link:before {
  content: "|";
  position: relative;
  left: -6px;
  font-weight: 400;
  color: #1A1A1A;
}

.children {
  list-style: none;
  margin: 0;
  padding-left: 1.5em;
  border-left: solid 1px #EBEBEB;
}

.rtl .children {
  border-left: none;
  padding-left: 0;
}

.bypostauthor {
  padding: 12px;
  background: #F5F5F5;
  border-radius: 6px;
}

.site-footer {
  margin-top: 3em;
}

.design-credit {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  clear: both;
  padding: 1.5em;
  background: #000;
  color: #fff;
  text-align: center;
}
.design-credit a {
  font-weight: 900;
}
.design-credit a:hover, .design-credit a:active, .design-credit a:focus {
  color: #FFC270;
}

.scroll-to-top {
  position: fixed;
  bottom: -45px;
  right: 0;
  z-index: 9;
  background: #1A1A1A;
  border: none;
  color: #fff;
  padding: 9px 0;
  width: 60px;
  border-radius: 0;
  transition: background 0.2s, transform 0.3s;
}
.scroll-to-top.visible {
  transform: translateY(-45px);
}
.scroll-to-top:hover {
  cursor: pointer;
  background: #666666;
}
.scroll-to-top:hover i {
  transform: translateY(-4px);
}
.scroll-to-top i {
  font-size: 21px;
  transition: transform 0.2s;
}

/**
 * 14.2 Galleries
 */
.gallery {
  margin: 2.25em auto;
}

.gallery-item {
  display: inline-block;
  padding: 0.75em;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
}
.gallery-item img {
  max-width: 100%;
  max-height: 100%;
}
.gallery-item a {
  border: none;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  display: block;
  font-size: 12px;
  padding: 0.5em 0 0;
  margin: 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/* Jetpack Galleries */
.tiled-gallery {
  margin: 2.25em auto !important;
}
.tiled-gallery .gallery-row {
  margin: 0 auto;
}

.header-top,
.header-middle {
  margin: 0 3.125%;
}

.title-container {
  text-align: center;
  margin: 0.75em 0;
}

.site-title a {
  display: inline-block;
  font-weight: 900;
}

.tagline {
  margin: 0;
}

.toggle-container {
  position: relative;
  background: #000;
}

.toggle-navigation {
  display: block;
  background: #000;
  border: none;
  width: 100%;
  padding: 12px 0;
  border-radius: 0;
}
.toggle-navigation:hover {
  cursor: pointer;
  background: #000;
}
.toggle-navigation:focus {
  outline: none;
}
.toggle-navigation svg {
  display: block;
  margin: 0 auto;
}

.user-icon,
.cart-icon {
  margin: 24px 0 24px 36px;
}
.user-icon a,
.cart-icon a {
  color: #1A1A1A;
  text-decoration: none;
}
.user-icon a:link, .user-icon a:visited,
.cart-icon a:link,
.cart-icon a:visited {
  color: #1A1A1A;
}
.user-icon a:hover, .user-icon a:active, .user-icon a:focus,
.cart-icon a:hover,
.cart-icon a:active,
.cart-icon a:focus {
  color: #FFC270;
}

.user-icon img {
  border-radius: 50%;
  margin: -5px 0 0 0;
}

.woocommerce-account .user-account-icon-container a {
  color: #FFC270;
}

.woocommerce-cart .shopping-cart-container a {
  color: #FFC270;
}
.woocommerce-cart .shopping-cart-container .cart-count {
  background: #1A1A1A;
}

.cart-icon {
  position: relative;
  margin: 24px 0 24px 24px;
}

.cart-count {
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: -5px;
  right: -10px;
  font-size: 13px;
  font-weight: 900;
  background: #FFC270;
  color: #fff;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
}

@media all and (max-width: 799px) {
  .site-header .menu-secondary-container,
.social-icons-container,
.site-header .search-form-container {
    display: none;
  }
  .site-header .menu-secondary-container.moved,
.social-icons-container.moved,
.site-header .search-form-container.moved {
    display: block;
  }

  .user-account-icon-container,
.shopping-cart-container {
    position: absolute;
    top: 0;
    padding: 12px;
    opacity: 0;
    transition: opacity 0.2s;
  }
  .user-account-icon-container div,
.shopping-cart-container div {
    margin: 0;
  }
  .user-account-icon-container a,
.shopping-cart-container a {
    color: #fff;
  }
  .user-account-icon-container a:link, .user-account-icon-container a:visited,
.shopping-cart-container a:link,
.shopping-cart-container a:visited {
    color: #fff;
  }

  .user-account-icon-container {
    left: 6.25%;
  }

  .shopping-cart-container {
    right: 6.25%;
  }
}
@media all and (min-width: 50em) {
  .header-top {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #EBEBEB;
  }

  .rtl .header-top:after {
    display: none;
  }

  .header-middle {
    display: flex;
  }

  .title-container {
    flex-grow: 1;
    text-align: left;
    margin: 1.5em 3em 1.5em 0;
  }

  .toggle-navigation {
    display: none;
  }

  .user-icon,
.cart-icon {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.143;
    /* 32px */
  }

  .user-icon img {
    margin-top: 0;
  }

  .rtl .user-icon,
.rtl .cart-icon {
    margin: 24px 36px 24px 0;
  }
}
.pagination {
  clear: both;
  text-align: center;
  margin: 1.5em 0 9em;
}
.pagination a,
.pagination span {
  display: inline-block;
  padding: 8px 12px;
  border: solid 1px #D9D9D9;
  border-radius: 4px;
  margin: 0 4px;
  min-width: 36px;
}
.pagination a {
  text-decoration: none;
  transition: color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.pagination a:hover, .pagination a:active, .pagination a:focus {
  color: #1A1A1A;
  border-color: #FFC270;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.pagination span {
  background: #EBEBEB;
  border-color: #EBEBEB;
}

.menu-primary ul {
  list-style: none;
  margin: 0;
  text-align: center;
}
.menu-primary ul li {
  margin-bottom: 0.75em;
}
.menu-primary ul li.current-menu-item > a, .menu-primary ul li.current_page_item > a {
  color: #FFC270;
}
.menu-primary ul li.current-menu-item > a:link, .menu-primary ul li.current-menu-item > a:visited, .menu-primary ul li.current_page_item > a:link, .menu-primary ul li.current_page_item > a:visited {
  color: #FFC270;
}
.menu-primary ul li.current-menu-item > a:hover, .menu-primary ul li.current-menu-item > a:active, .menu-primary ul li.current-menu-item > a:focus, .menu-primary ul li.current_page_item > a:hover, .menu-primary ul li.current_page_item > a:active, .menu-primary ul li.current_page_item > a:focus {
  color: #FFC270;
}
.menu-primary ul li.open > ul {
  max-height: none;
}
.menu-primary ul a {
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.menu-primary ul ul {
  font-size: 12px;
  margin: 0;
  max-height: 0;
  overflow: hidden;
}
.menu-primary ul ul li:first-child {
  margin-top: 12px;
}

.toggle-dropdown {
  background: none;
  border: solid 1px #fff;
  margin: 0 -33px 0 10px;
  padding: 0px 5px;
  color: #fff;
  font-size: 17px;
}
.toggle-dropdown:hover {
  cursor: pointer;
}
.toggle-dropdown:focus {
  outline: none;
}
.toggle-dropdown.open {
  border-color: #FFC270;
  transform: rotate(180deg);
}

@media all and (min-width: 50em) {
  .menu-primary ul li {
    display: inline-block;
    margin: 0;
  }
  .menu-primary ul li.menu-item-has-children {
    position: relative;
    white-space: nowrap;
  }
  .menu-primary ul li.menu-item-has-children:hover > button {
    transform: translateY(2px);
  }
  .menu-primary ul li.menu-item-has-children > a {
    position: relative;
    z-index: 2;
    padding-right: 28px;
  }
  .menu-primary ul li.menu-item-has-children > a:hover + button, .menu-primary ul li.menu-item-has-children > a:active + button, .menu-primary ul li.menu-item-has-children > a:focus + button {
    transform: translateY(2px);
  }
  .menu-primary ul a {
    display: inline-block;
    padding: 0.75em;
  }
  .menu-primary ul ul {
    position: absolute;
    z-index: 2;
    max-height: none;
    visibility: hidden;
    overflow: visible;
    opacity: 0;
    top: calc(100% + 4px);
    left: 6px;
    min-width: 100%;
    font-size: 16px;
    padding-bottom: 18px;
    background: #000;
    text-align: left;
    transition: top 0.2s, left 0.2s, opacity 0.2s, visibility 0.2s;
  }
  .menu-primary ul ul li {
    display: block;
    white-space: nowrap;
  }
  .menu-primary ul ul li:first-child {
    margin-top: 0;
  }
  .menu-primary ul ul li.menu-item-has-children:hover > button {
    transform: rotate(-90deg) translateY(2px);
  }
  .menu-primary ul ul li.menu-item-has-children > a:hover + button, .menu-primary ul ul li.menu-item-has-children > a:active + button, .menu-primary ul ul li.menu-item-has-children > a:focus + button {
    transform: rotate(-90deg) translateY(2px);
  }
  .menu-primary ul ul a {
    display: block;
    padding: 8px 12px;
  }
  .menu-primary ul ul .toggle-dropdown {
    position: absolute;
    top: 10px;
    right: 12px;
    transform: rotate(-90deg);
  }
  .menu-primary ul ul ul {
    top: -12px;
    left: calc(100% + 4px);
    padding-top: 12px;
  }
  .menu-primary ul ul .menu-item-has-children a:hover ~ ul,
.menu-primary ul ul .menu-item-has-children a:active ~ ul,
.menu-primary ul ul .menu-item-has-children a:focus ~ ul,
.menu-primary ul ul ul:hover {
    top: -12px;
    left: 100%;
  }
  .menu-primary ul .menu-item-has-children a:hover ~ ul,
.menu-primary ul .menu-item-has-children a:active ~ ul,
.menu-primary ul .menu-item-has-children a:focus ~ ul,
.menu-primary ul ul:hover {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }

  .toggle-dropdown {
    margin: 0 0 0 -24px;
    padding: 0;
    border: none;
    transition: transform 0.2s;
  }

  .rtl .menu-primary-items ul {
    text-align: right;
  }
  .rtl .menu-primary ul ul li:first-child {
    margin-top: 0;
  }
  .rtl .menu-primary ul li.menu-item-has-children > a {
    padding: 0.75em 0.75em 0.75em 28px;
  }
  .rtl .toggle-dropdown {
    margin: 0 -24px 0 0;
    padding: 0;
    border: none;
    transition: transform 0.2s;
  }
  .rtl .menu-primary ul {
    overflow: visible;
    max-height: none;
    font-size: 16px;
  }
  .rtl .menu-primary ul ul .toggle-dropdown {
    right: auto;
    left: 12px;
  }
  .rtl .menu-primary ul ul .toggle-dropdown i {
    transform: rotate(180deg);
  }
  .rtl .menu-primary ul ul li.menu-item-has-children > a:hover + button, .rtl .menu-primary ul ul li.menu-item-has-children > a:active + button, .rtl .menu-primary ul ul li.menu-item-has-children > a:focus + button,
.rtl .menu-primary ul ul li.menu-item-has-children:hover > button {
    transform: rotate(-90deg) translateY(-2px);
  }
  .rtl .menu-primary ul ul .menu-item-has-children a:hover ~ ul, .rtl .menu-primary ul ul .menu-item-has-children a:active ~ ul, .rtl .menu-primary ul ul .menu-item-has-children a:focus ~ ul, .rtl .menu-primary ul ul ul:hover {
    left: auto;
    right: 100%;
  }
}
.menu-secondary-items {
  list-style: none;
  margin: 1.5em 0 0;
  text-align: center;
}
.menu-secondary-items li {
  margin-bottom: 0.75em;
}
.menu-secondary-items li.current-menu-item a {
  text-decoration: underline;
}
.menu-secondary-items li.open > ul {
  max-height: none;
}
.menu-secondary-items ul {
  font-size: 12px;
  margin: 0;
  max-height: 0;
  overflow: hidden;
}
.menu-secondary-items ul li:first-child {
  margin-top: 12px;
}

@media all and (min-width: 50em) {
  .menu-secondary-items {
    margin: 0;
    text-align: left;
  }
  .menu-secondary-items > li:first-child > a {
    padding-left: 0;
  }
  .menu-secondary-items > li.menu-item-has-children > ul {
    left: -12px;
  }
  .menu-secondary-items li {
    display: inline-block;
    margin: 0 -4px 0 0;
  }
  .menu-secondary-items li.menu-item-has-children {
    position: relative;
    z-index: 5;
  }
  .menu-secondary-items li.menu-item-has-children:hover > button {
    transform: translateY(2px);
  }
  .menu-secondary-items li.menu-item-has-children > a {
    position: relative;
    z-index: 2;
    padding-right: 28px;
  }
  .menu-secondary-items li.menu-item-has-children > a:hover + button, .menu-secondary-items li.menu-item-has-children > a:active + button, .menu-secondary-items li.menu-item-has-children > a:focus + button {
    transform: translateY(2px);
  }
  .menu-secondary-items a {
    display: inline-block;
    color: #333333;
    padding: 0.75em;
  }
  .menu-secondary-items a:link, .menu-secondary-items a:visited {
    color: #333333;
  }
  .menu-secondary-items a:hover, .menu-secondary-items a:active, .menu-secondary-items a:focus {
    color: #333333;
  }
  .menu-secondary-items .toggle-dropdown {
    color: #1A1A1A;
  }
  .menu-secondary-items ul {
    position: absolute;
    max-height: none;
    visibility: hidden;
    overflow: visible;
    opacity: 0;
    top: calc(100% + 4px);
    left: 6px;
    min-width: 100%;
    font-size: 16px;
    padding-bottom: 18px;
    background: #fff;
    text-align: left;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    transition: top 0.2s, left 0.2s, opacity 0.2s, visibility 0.2s;
  }
  .menu-secondary-items ul li {
    display: block;
    white-space: nowrap;
    margin-right: 0;
  }
  .menu-secondary-items ul li:first-child {
    margin-top: 0;
  }
  .menu-secondary-items ul li.menu-item-has-children:hover > button {
    transform: rotate(-90deg) translateY(2px);
  }
  .menu-secondary-items ul li.menu-item-has-children > a:hover + button, .menu-secondary-items ul li.menu-item-has-children > a:active + button, .menu-secondary-items ul li.menu-item-has-children > a:focus + button {
    transform: rotate(-90deg) translateY(2px);
  }
  .menu-secondary-items ul a {
    display: block;
    padding: 8px 12px;
  }
  .menu-secondary-items ul .toggle-dropdown {
    position: absolute;
    top: 10px;
    right: 12px;
    transform: rotate(-90deg);
  }
  .menu-secondary-items ul ul {
    top: -12px;
    left: calc(100% + 4px);
    padding-top: 12px;
  }
  .menu-secondary-items ul .menu-item-has-children a:hover ~ ul,
.menu-secondary-items ul .menu-item-has-children a:active ~ ul,
.menu-secondary-items ul .menu-item-has-children a:focus ~ ul,
.menu-secondary-items ul ul:hover {
    top: -12px;
    left: 100%;
  }
  .menu-secondary-items .menu-item-has-children a:hover ~ ul,
.menu-secondary-items .menu-item-has-children a:active ~ ul,
.menu-secondary-items .menu-item-has-children a:focus ~ ul,
.menu-secondary-items ul:hover {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }

  .rtl .menu-secondary-container {
    float: none;
  }
  .rtl .menu-secondary-items {
    margin: 0;
  }
  .rtl .menu-secondary-items li {
    margin: 0 0 0 -4px;
  }
  .rtl .menu-secondary-items li:first-child > a {
    padding: 0 0 0 0.75em;
  }
}
.mobile-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 19;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 1.5em;
  background: rgba(0, 0, 0, 0.93);
  transform: scale(0.95);
  transition: transform 0.2s, visibility 0.2s, opacity 0.2s;
}
.mobile-menu-container.open {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.rtl .mobile-menu-container {
  background: rgba(0, 0, 0, 0.9);
}

.admin-bar .mobile-menu-container {
  top: 46px;
}

.close-mobile-menu {
  text-align: center;
  margin: -7px 0 14px;
}
.close-mobile-menu button {
  background: none;
  border: none;
  margin: 0;
  padding: 7px 8px;
}
.close-mobile-menu button:hover {
  cursor: pointer;
}
.close-mobile-menu button:focus {
  outline: none;
}

@media all and (min-width: 50em) {
  .mobile-menu-container {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    visibility: visible;
    opacity: 1;
    overflow: visible;
    background: #000;
    padding: 0 1.5em;
    transform: none;
  }
  .mobile-menu-container:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #000;
    top: 0;
    right: -999px;
    bottom: 0;
    left: -999px;
  }

  .admin-bar .mobile-menu-container {
    top: auto;
  }

  .close-mobile-menu {
    display: none;
  }

  .rtl .mobile-menu-container {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    visibility: visible;
    opacity: 1;
    overflow: visible;
    background: #000;
    padding: 0 1.5em;
    transform: none;
  }
  .rtl .mobile-menu-container:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #000;
    top: 0;
    right: -999px;
    bottom: 0;
    left: -999px;
  }
  .rtl.admin-bar .mobile-menu-container {
    top: auto;
  }
  .rtl .close-mobile-menu {
    display: none;
  }
}
.entry {
  margin: 1.5em auto 3em;
  padding: 0 3.125%;
  max-width: 900px;
}

.featured-image-container {
  margin: 0.75em 0;
  padding: 0.75em;
  border: solid 1px #D9D9D9;
  border-radius: 6px;
  background: #fff;
}

.blog .featured-image-container:hover,
.archive .featured-image-container:hover,
.search-results .featured-image-container:hover,
.page-template-homepage .featured-image-container:hover {
  border-color: #FFC270;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
}
.featured-image > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
}
.featured-image > a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.featured-image > a:focus:after {
  opacity: 0.2;
}
.featured-image > img,
.featured-image > a > img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.featured-image > img.no-object-fit,
.featured-image > a > img.no-object-fit {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  top: 50%;
  right: 50%;
  left: auto;
  transform: translateX(50%) translateY(-50%);
}
.featured-image .ccfic {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px 4px 4px 12px;
  font-size: 13px;
}

.post-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 1.5em;
}

.rtl .post-header {
  margin: 0 auto 1.5em;
}

.post-title {
  font-weight: 900;
  letter-spacing: -0.02em;
  margin-bottom: 0;
}
.post-title a:hover, .post-title a:active, .post-title a:focus {
  color: #666666;
  text-decoration: none;
}

.post-byline {
  margin-top: 6px;
}
.post-byline span {
  font-style: italic;
}

.post-content {
  padding: 0 12px;
}
.post-content iframe {
  max-width: 100%;
}
.post-content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.more-link-wrapper {
  text-align: center;
}

.more-link {
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  padding: 12px 24px;
  border: solid 1px #D9D9D9;
  border-radius: 6px;
  letter-spacing: -0.02em;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.more-link:hover, .more-link:active, .more-link:focus {
  text-decoration: none;
  border-color: #FFC270;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.post-meta {
  padding: 0 12px;
}

.post-categories {
  margin: 1.5em 0;
  font-style: italic;
}
.post-categories a {
  font-weight: 900;
  font-style: normal;
}

.post-tags {
  margin: 1.5em 0;
}
.post-tags ul {
  list-style: none;
  margin: 0;
}
.post-tags li {
  display: inline-block;
}
.post-tags a {
  display: inline-block;
  margin-right: 8px;
  padding: 5px 18px;
  border: solid 1px #EBEBEB;
  border-radius: 24px;
  transition: color 0.2s, background 0.2s, border-color 0.2s;
}
.post-tags a:hover, .post-tags a:active, .post-tags a:focus {
  text-decoration: none;
  color: #fff;
  background: #FFC270;
  border-color: #FFC270;
}

.further-reading {
  display: flex;
  justify-content: space-between;
  margin: 2.25em 0;
}
.further-reading div {
  position: relative;
  width: 49%;
  padding: 1.125em 1.5em;
  border: solid 1px #EBEBEB;
  border-radius: 6px;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.further-reading div:hover {
  border-color: #FFC270;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.further-reading div:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 6px;
  z-index: -1;
  color: #F5F5F5;
  font-size: 110px;
  line-height: 0;
}
.further-reading .next {
  text-align: right;
}
.further-reading .next:after {
  content: "";
  left: auto;
  right: 6px;
}
.further-reading span {
  display: block;
  color: #808080;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.further-reading a {
  font-weight: 900;
}
.further-reading a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.alignwide {
  position: relative;
  max-width: 114%;
  width: 114%;
  left: -7%;
}

.alignfull {
  position: relative;
  max-width: 122%;
  width: 122%;
  left: -11%;
}

.wp-block-gallery {
  margin: 1.5em 0;
}

.wp-block-button {
  margin: 1.5em 0;
}
.wp-block-button a {
  color: #fff;
}

.last-updated {
  font-style: italic;
}

.sticky-status {
  display: inline-block;
  font-weight: 900;
  padding: 6px 12px;
  color: #666666;
  margin-bottom: 12px;
  background: #EBEBEB;
  border-radius: 4px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.wp-block-social-links a {
  color: #fff;
}

@media all and (min-width: 37.5em) {
  .entry {
    padding: 0 6.25%;
  }

  .alignwide {
    max-width: 120%;
    width: 120%;
    left: -10%;
  }

  .alignfull {
    max-width: 128%;
    width: 128%;
    left: -14%;
  }
}
@media all and (min-width: 43.75em) {
  .entry:first-child {
    margin-top: 3em;
  }

  .post-title {
    font-size: 2.375em;
    /* 38px / 16px */
    line-height: 1.105;
    /* 42px */
  }

  .post-byline {
    margin-bottom: 18px;
  }

  .post-content {
    font-size: 1.125em;
    /* 18px / 16px */
    line-height: 1.555;
    /* 28px */
    margin-top: 0;
  }
}
@media all and (min-width: 56.25em) {
  .post-header {
    margin-bottom: 2.25em;
  }

  .rtl .post-header {
    margin-bottom: 2.25em;
  }

  .post-title {
    font-size: 3.188em;
    /* 51px / 16px */
    line-height: 1.06;
    /* 54px */
  }

  .entry {
    margin-bottom: 3.75em;
  }
}
@media all and (min-width: 68.75em) {
  .alignwide {
    position: relative;
    max-width: 128%;
    width: 128%;
    left: -14%;
  }
}
.site-header .search-form-container {
  position: relative;
  margin-bottom: 1.5em;
}
.site-header .search-form-container form {
  display: flex;
}
.site-header .search-form-container .search-field {
  border-radius: 0;
  padding: 9px 12px;
  height: 36px;
  background: #F5F5F5;
  transition: border-color 0.2s, box-shadow 0.2s, background 0.2s;
}
.site-header .search-form-container .search-field:focus {
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-color: #FFC270;
  background: #fff;
}
.site-header .search-form-container .submit-button {
  position: relative;
  border-radius: 0 18px 18px 0;
  background: #FFC270;
  height: 36px;
}
.site-header .search-form-container .submit-button input {
  position: relative;
  z-index: 9;
  padding: 9px 18px;
  height: 100%;
  width: 48px;
  background: none;
  font-size: 0;
}
.site-header .search-form-container .submit-button:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 5px;
  right: 18px;
  z-index: 1;
}
.site-header .search-form-container .category-select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 18px 0 0 18px;
  transition: background 0.2s;
}
.site-header .search-form-container .category-select:hover, .site-header .search-form-container .category-select:active, .site-header .search-form-container .category-select:focus {
  background: #545454;
}
.site-header .search-form-container .category-select select {
  position: relative;
  z-index: 2;
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance: none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #fff;
  background: #000;
  padding: 9px 26px 9px 18px;
  border: none;
  border-radius: 18px 0 0 18px;
  max-width: 300px;
}
.site-header .search-form-container .category-select select::-ms-expand {
  display: none;
}
.site-header .search-form-container .category-select select:hover {
  cursor: pointer;
}
.site-header .search-form-container .category-select select:focus {
  outline: none;
}
.site-header .search-form-container .category-select i {
  position: absolute;
  z-index: 3;
  top: 9px;
  right: 12px;
  color: #fff;
}
.site-header .search-form-container.no-category-select .search-field {
  border-radius: 18px 0 0 18px;
}
.site-header .search-form-container.no-submit-button .search-field {
  border-radius: 0 18px 18px 0;
}
.site-header .search-form-container.no-category-select.no-submit-button .search-field {
  border-radius: 18px;
}

.rtl .site-header .search-form-container .category-select {
  border-radius: 0 18px 18px 0;
}
.rtl .site-header .search-form-container .category-select select {
  border-radius: 0 18px 18px 0;
}
.rtl .site-header .search-form-container .category-select i {
  right: auto;
  left: 12px;
}
.rtl .site-header .search-form-container .search-field {
  border-radius: 0;
}
.rtl .site-header .search-form-container .submit-button {
  position: relative;
  height: auto;
}

@media all and (min-width: 50em) {
  .site-header .search-form-container {
    flex-grow: 99999;
    margin: 1.5em 0;
  }
  .site-header .search-form-container .category-select {
    background: #000;
  }
  .site-header .search-form-container .search-field {
    border: solid 1px #EBEBEB;
  }
  .site-header .search-form-container .submit-button {
    height: 36px;
    width: 60px;
  }
  .site-header .search-form-container + div > div {
    margin-left: 48px;
  }

  .rtl .site-header .search-form-container {
    flex-grow: 99999;
  }
  .rtl .site-header .search-form-container + div > div {
    margin-left: 0;
    margin-right: 48px;
  }
}
.search-header {
  margin: 2.25em auto;
}

.search .main-container .search-form {
  display: flex;
  margin: 0.75em auto 3em;
  max-width: 600px;
}
.search .main-container .search-form label {
  flex-grow: 1;
}
.search .main-container .search-form .search-field {
  border-radius: 24px 0 0 24px;
  border-right: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.search .main-container .search-form .search-field:focus {
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-color: #FFC270;
}
.search .main-container .search-form .search-submit {
  border-radius: 0 24px 24px 0;
}
.search .main-container .search-bottom {
  margin-bottom: 4.5em;
  padding: 0 3.125%;
}
.search .main-container .search-bottom p {
  text-align: center;
}

.social-icons-container .social-media-icons {
  list-style: none;
  margin: 2.25em 0 0;
  text-align: center;
}
.social-icons-container .social-media-icons li {
  display: inline-block;
}
.social-icons-container .social-media-icons a {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: solid 1px #fff;
  border-radius: 50%;
  margin: 0 8px;
  transition: background 0.2s, border-color 0.2s;
}
.social-icons-container .social-media-icons a:hover, .social-icons-container .social-media-icons a:active, .social-icons-container .social-media-icons a:focus {
  background: #FFC270;
  border-color: #FFC270;
}

@media all and (min-width: 50em) {
  .social-icons-container {
    flex-shrink: 0;
  }

  .rtl .social-icons-container {
    float: none;
  }

  .social-icons-container .social-media-icons {
    margin: 0.5em 0;
    text-align: right;
  }
  .social-icons-container .social-media-icons a {
    font-size: 14px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    margin: 0 0 0 12px;
    color: #333333;
    border-color: #333333;
  }
  .social-icons-container .social-media-icons a:link, .social-icons-container .social-media-icons a:visited {
    color: #333333;
  }
  .social-icons-container .social-media-icons a:hover, .social-icons-container .social-media-icons a:active, .social-icons-container .social-media-icons a:focus {
    color: #fff;
  }
}
.widget {
  margin-bottom: 2.625em;
}
.widget ul.children {
  margin-top: 6px;
}
.widget ul li {
  margin-bottom: 6px;
}
.widget-title {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 1.125em;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background: #FFC270;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #000;
}
.woocommerce .widget_price_filter .button {
  background: #000;
  color: #fff;
  font-weight: 900;
  transition: color 0.2s, background 0.2s;
}
.woocommerce .widget_price_filter .button:hover, .woocommerce .widget_price_filter .button:active, .woocommerce .widget_price_filter .button:focus {
  background: #FFC270;
  color: #fff;
  outline: none;
}
.woocommerce .widget_price_filter .price_slider_amount {
  margin-top: 1.875em;
}
.woocommerce .widget_price_filter form {
  margin-top: 1.5em;
}
.woocommerce .widget_price_filter .price_label {
  float: right;
  background: #fff;
  padding: 11px;
  border-radius: 6px;
  line-height: 1;
}

.woocommerce .woocommerce-widget-layered-nav .count {
  float: right;
}
.woocommerce .woocommerce-widget-layered-nav ul li,
.woocommerce .widget_layered_nav_filters ul li {
  display: block;
  float: none;
}
.woocommerce .woocommerce-widget-layered-nav .chosen a:hover, .woocommerce .woocommerce-widget-layered-nav .chosen a:active, .woocommerce .woocommerce-widget-layered-nav .chosen a:focus,
.woocommerce .widget_layered_nav_filters .chosen a:hover,
.woocommerce .widget_layered_nav_filters .chosen a:active,
.woocommerce .widget_layered_nav_filters .chosen a:focus {
  text-decoration: none;
}
.woocommerce .woocommerce-widget-layered-nav .chosen a:hover:before, .woocommerce .woocommerce-widget-layered-nav .chosen a:active:before, .woocommerce .woocommerce-widget-layered-nav .chosen a:focus:before,
.woocommerce .widget_layered_nav_filters .chosen a:hover:before,
.woocommerce .widget_layered_nav_filters .chosen a:active:before,
.woocommerce .widget_layered_nav_filters .chosen a:focus:before {
  color: #000;
}
.woocommerce .woocommerce-widget-layered-nav .chosen a:before,
.woocommerce .widget_layered_nav_filters .chosen a:before {
  font-size: 16px;
  margin-right: 6px;
  color: #FF5757;
  transition: color 0.2s;
}

.widget_product_categories .current-cat > a {
  font-weight: 900;
}

.widget_rating_filter .star-rating {
  color: #FFC270;
}
.widget_rating_filter li.wc-layered-nav-rating a:hover, .widget_rating_filter li.wc-layered-nav-rating a:active, .widget_rating_filter li.wc-layered-nav-rating a:focus {
  text-decoration: none;
}
.widget_rating_filter li.wc-layered-nav-rating a:before {
  color: #FF5757 !important;
}

.widget_products .star-rating {
  color: #FFC270;
}

.widget_product_search form,
.widget_search form {
  display: flex;
}
.widget_product_search .search-field,
.widget_search .search-field {
  padding: 5px 12px;
  border-radius: 6px 0 0 6px;
}
.widget_product_search button,
.widget_product_search .search-submit,
.widget_search button,
.widget_search .search-submit {
  border-radius: 0 6px 6px 0;
}

.rtl .widget_product_search .search-field,
.rtl .widget_search .search-field {
  border-radius: 0 6px 6px 0;
}
.rtl .widget_product_search button,
.rtl .widget_product_search .search-submit,
.rtl .widget_search button,
.rtl .widget_search .search-submit {
  border-radius: 6px 0 0 6px;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  float: left;
  margin: 6px 12px 0 0;
  border-radius: 4px;
}
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
  font-weight: 400;
}
.woocommerce ul.cart_list .star-rating,
.woocommerce ul.product_list_widget .star-rating {
  line-height: 1;
  color: #FFC270;
  margin-top: 2px;
}
.woocommerce ul.cart_list .reviewer,
.woocommerce ul.product_list_widget .reviewer {
  margin-left: 44px;
}
.woocommerce ul.cart_list .amount,
.woocommerce ul.product_list_widget .amount {
  display: block;
}
.woocommerce ul.cart_list del .amount,
.woocommerce ul.cart_list ins .amount,
.woocommerce ul.product_list_widget del .amount,
.woocommerce ul.product_list_widget ins .amount {
  display: inline;
}
.woocommerce ul.cart_list ins,
.woocommerce ul.product_list_widget ins {
  text-decoration: none;
}

.rtl .woocommerce ul.cart_list li img,
.rtl .woocommerce ul.product_list_widget li img {
  float: right;
}

@media all and (min-width: 50em) and (max-width: 68.75em) {
  .woocommerce .widget_price_filter button {
    margin-bottom: 8px;
  }
  .woocommerce .widget_price_filter .price_label {
    float: none;
    clear: left;
    text-align: left;
  }

  .widget_product_search .woocommerce-product-search {
    flex-direction: column;
  }
  .widget_product_search .search-field {
    border-radius: 0;
  }
  .widget_product_search button {
    border-radius: 0;
  }
}
.woocommerce .main-container {
  padding: 0 3.125%;
  margin: 1.5em 0 0;
}
.woocommerce ul.products li.product {
  text-align: center;
  margin-bottom: 36px !important;
}
.woocommerce ul.products li.product a:hover, .woocommerce ul.products li.product a:active, .woocommerce ul.products li.product a:focus {
  text-decoration: none;
}
.woocommerce ul.products li.product a:hover img, .woocommerce ul.products li.product a:active img, .woocommerce ul.products li.product a:focus img {
  transform: translateY(-3px);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.75;
}
.woocommerce ul.products li.product a img {
  margin-bottom: 0;
  transition: transform 0.2s, box-shadow 0.2s, opacity 0.2s;
}
.woocommerce ul.products li.product a .price {
  font-size: 12px;
  color: #333333;
  margin-bottom: 6px;
}
.woocommerce ul.products li.product a .price del {
  margin-right: 4px;
}
.woocommerce ul.products li.product a .price ins {
  text-decoration: none;
  font-weight: 400;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title {
  font-weight: 400;
  padding: 0;
  margin: 6px 0 2px;
}
.woocommerce ul.products li.product .button {
  background: #fff;
  border: solid 1px #FFC270;
  border-radius: 4px;
  margin-top: 6px;
  font-weight: 400;
  transition: color 0.2s, background 0.2s;
}
.woocommerce ul.products li.product .button:hover, .woocommerce ul.products li.product .button:active, .woocommerce ul.products li.product .button:focus {
  text-decoration: none;
  color: #fff;
  background: #FFC270;
}
.woocommerce ul.products li.product .onsale {
  line-height: 2.75;
  background: #FFC270;
}
.woocommerce ul.products li.product .star-rating {
  font-size: 12px;
  margin: 6px auto 8px;
  color: #FFC270;
}
.woocommerce ul.products li.product .added_to_cart.wc-forward {
  display: block;
  padding-top: 0;
  margin-top: 10px;
  font-style: italic;
}
.woocommerce nav.woocommerce-pagination {
  margin-bottom: 3em;
}
.woocommerce nav.woocommerce-pagination ul {
  border-color: #D9D9D9;
}
.woocommerce nav.woocommerce-pagination ul li {
  border-color: #D9D9D9;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  padding: 10px 14px;
}
.woocommerce nav.woocommerce-pagination ul li a.current,
.woocommerce nav.woocommerce-pagination ul li span.current {
  background: #F5F5F5;
}
.woocommerce nav.woocommerce-pagination ul li a {
  transition: color 0.2s, background 0.2s;
}
.woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li a:active, .woocommerce nav.woocommerce-pagination ul li a:focus {
  color: #fff;
  background: #FFC270;
}
.woocommerce .sidebar-store {
  position: relative;
  background: #F5F5F5;
  margin: -3em 0 4.5em;
  padding: 1.5em 1.5em 1.5em 0;
  border-radius: 4px;
}
.woocommerce .sidebar-store:after {
  content: "";
  position: absolute;
  top: 0;
  right: -999px;
  bottom: -3em;
  left: -999px;
  z-index: -1;
  background: #F5F5F5;
}
.woocommerce-message,
.woocommerce-info {
  border-color: #FFC270;
}
.woocommerce-message:before,
.woocommerce-info:before {
  color: #FFC270;
}
.woocommerce-error {
  border-top-color: #FF5757;
}
.woocommerce-error:before {
  color: #FF5757;
}

.woocommerce-store-notice, p.demo_store {
  background: #FFC270;
}

.woocommerce-archive .loop-container {
  margin-bottom: 6em !important;
}

@media all and (min-width: 50em) {
  .woocommerce .main-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .woocommerce .loop-container {
    width: 70%;
  }
  .woocommerce .sidebar-store {
    position: relative;
    width: 26%;
    border-radius: 0;
    margin-top: -1.5em;
    padding-top: 2.25em;
  }
  .woocommerce .sidebar-store:after {
    right: 0;
  }

  .rtl.woocommerce .sidebar-store:after {
    right: auto;
    left: 0;
  }
}
.woocommerce.single-product .main-container {
  padding: 0 6.25%;
}
.woocommerce.single-product .entry {
  padding: 0;
}
.woocommerce.single-product .entry .onsale {
  line-height: 2.75;
  background: #FFC270;
}
.woocommerce.single-product .product_title {
  margin-bottom: 0;
}
.woocommerce.single-product .price {
  margin: 6px 0;
}
.woocommerce.single-product .price del {
  margin-right: 4px;
}
.woocommerce.single-product .price ins {
  text-decoration: none;
}
.woocommerce.single-product .star-rating {
  color: #FFC270;
}
.woocommerce.single-product form .quantity input {
  padding: 11px 12px;
  border-radius: 4px;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.woocommerce.single-product form .quantity input:focus {
  outline: none;
  border-color: #FFC270;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.woocommerce.single-product form .single_add_to_cart_button {
  padding: 16px 24px;
  background: #000;
  transition: background 0.2s;
}
.woocommerce.single-product form .single_add_to_cart_button:hover, .woocommerce.single-product form .single_add_to_cart_button:active, .woocommerce.single-product form .single_add_to_cart_button:focus {
  background: #FFC270;
}
.woocommerce.single-product .product_meta > span {
  display: block;
}
.woocommerce.single-product table.shop_attributes td {
  padding: 0 8px;
}
.woocommerce.single-product .woocommerce-Reviews-title {
  margin-bottom: 36px;
}
.woocommerce.single-product #reviews #comments .review .avatar {
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0;
}
.woocommerce.single-product #reviews #comments .review .star-rating {
  color: #FFC270;
  height: 21px;
}
.woocommerce.single-product #reviews #comments .review .woocommerce-review__author {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.5;
  color: #1A1A1A;
}
.woocommerce.single-product #reviews #comments .review .woocommerce-review__published-date {
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}
.woocommerce.single-product #review_form #respond {
  margin-top: 1.5em;
}
.woocommerce.single-product #review_form #respond .comment-notes {
  font-style: italic;
  margin: 1.125em 0;
}
.woocommerce.single-product #review_form #respond .comment-reply-title {
  font-weight: 900;
}
.woocommerce.single-product #review_form #respond .comment-form-cookies-consent {
  margin-top: 1.5em;
}
.woocommerce.single-product #review_form #respond .form-submit {
  margin-top: 2.25em;
}
.woocommerce.single-product #review_form #respond .form-submit input {
  background: #000;
  border-radius: 4px;
  color: #fff;
  font-weight: 900;
  padding: 16px 24px;
  transition: background 0.2s;
}
.woocommerce.single-product #review_form #respond .form-submit input:hover {
  background: #FFC270;
}
.woocommerce.single-product .comment-form {
  margin: 1.5em 0;
}
.woocommerce.single-product .comment-form .stars a {
  color: #FFC270;
}

@media all and (min-width: 50em) {
  .woocommerce.single-product .main-container {
    justify-content: center;
  }
  .woocommerce.single-product .loop-container {
    width: 100%;
    max-width: 900px;
  }
}
.woocommerce-cart .main-container {
  padding: 0 6.25%;
}
.woocommerce-cart .entry {
  padding: 0;
}
.woocommerce-cart .woocommerce-cart-form__contents td, .woocommerce-cart .woocommerce-cart-form__contents th {
  border: none;
}
.woocommerce-cart .woocommerce-cart-form__contents .product-remove .remove {
  color: #FF5757 !important;
  transition: background 0.2s, color 0.2s;
}
.woocommerce-cart .woocommerce-cart-form__contents .product-remove .remove:hover, .woocommerce-cart .woocommerce-cart-form__contents .product-remove .remove:active, .woocommerce-cart .woocommerce-cart-form__contents .product-remove .remove:focus {
  color: #fff !important;
  background: #FF5757;
}
.woocommerce-cart .woocommerce-cart-form__contents .product-thumbnail img {
  width: 60px;
}
.woocommerce-cart .woocommerce-cart-form__contents .product-quantity input {
  border-radius: 4px;
  border-color: #D9D9D9;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.woocommerce-cart .woocommerce-cart-form__contents .product-quantity input:focus {
  outline: none;
  border-color: #FFC270;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.woocommerce-cart .woocommerce-cart-form__contents .actions {
  padding: 18px 12px;
}
.woocommerce-cart .woocommerce-cart-form__contents .actions > .button {
  border-radius: 4px;
  font-weight: 900;
  background: #000;
  color: #fff !important;
  transition: background 0.2s;
}
.woocommerce-cart .woocommerce-cart-form__contents .actions > .button:disabled:hover, .woocommerce-cart .woocommerce-cart-form__contents .actions > .button:disabled:active, .woocommerce-cart .woocommerce-cart-form__contents .actions > .button:disabled:focus {
  background: #000;
}
.woocommerce-cart .woocommerce-cart-form__contents .actions > .button:hover, .woocommerce-cart .woocommerce-cart-form__contents .actions > .button:active, .woocommerce-cart .woocommerce-cart-form__contents .actions > .button:focus {
  background: #FFC270;
}
.woocommerce-cart .woocommerce-cart-form__contents .coupon .input-text {
  margin-right: 6px !important;
  border-color: #D9D9D9 !important;
  border-radius: 4px;
  transition: border-color 0.2s, box-shadow 0.2s, min-width 0.2s;
}
.woocommerce-cart .woocommerce-cart-form__contents .coupon .input-text:focus {
  outline: none;
  border-color: #FFC270 !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.woocommerce-cart .woocommerce-cart-form__contents .coupon .button {
  font-weight: 900;
  background: #D9D9D9;
  color: #1A1A1A;
  transition: background 0.2s, color 0.2s;
}
.woocommerce-cart .woocommerce-cart-form__contents .coupon .button:hover, .woocommerce-cart .woocommerce-cart-form__contents .coupon .button:active, .woocommerce-cart .woocommerce-cart-form__contents .coupon .button:focus {
  color: #fff;
  background: #000;
}
.woocommerce-cart .cart-collaterals .cart_totals .checkout-button {
  background: #000;
  transition: background 0.2s;
}
.woocommerce-cart .cart-collaterals .cart_totals .checkout-button:hover, .woocommerce-cart .cart-collaterals .cart_totals .checkout-button:active, .woocommerce-cart .cart-collaterals .cart_totals .checkout-button:focus {
  background: #FFC270;
}

.cart-empty,
.return-to-shop {
  text-align: center;
}

@media all and (min-width: 769px) {
  .woocommerce-cart .woocommerce-cart-form__contents .coupon .input-text {
    min-width: 125px;
  }
  .woocommerce-cart .woocommerce-cart-form__contents .coupon .input-text:focus {
    min-width: 300px;
  }
}
.woocommerce-checkout .main-container {
  padding: 0 6.25%;
}
.woocommerce-checkout .entry {
  padding: 0;
  max-width: 700px;
}
.woocommerce-checkout .checkout #customer_details > div {
  width: 100%;
  float: none;
}
.woocommerce-checkout .checkout #customer_details #billing_country_field {
  margin-bottom: 18px;
}
.woocommerce-checkout .checkout #customer_details .select2-container--default .select2-selection--single {
  border-color: #D9D9D9;
}
.woocommerce-checkout .checkout #customer_details .woocommerce-invalid .select2-container,
.woocommerce-checkout .checkout #customer_details .woocommerce-invalid input.input-text,
.woocommerce-checkout .checkout #customer_details .woocommerce-invalid select,
.woocommerce-checkout .checkout #customer_details .woocommerce-invalid .select2-selection {
  border-color: #FF5757;
}
.woocommerce-checkout .checkout #customer_details #ship-to-different-address {
  font-size: 1em;
  font-weight: 400;
  margin-top: 1.5em;
}
.woocommerce-checkout .checkout .woocommerce-additional-fields,
.woocommerce-checkout .checkout #order_review_heading {
  margin-top: 24px;
}
.woocommerce-checkout .checkout .woocommerce-checkout-review-order table {
  border-collapse: collapse;
  border-radius: 4px;
}
.woocommerce-checkout .checkout .woocommerce-checkout-review-order td, .woocommerce-checkout .checkout .woocommerce-checkout-review-order th {
  border: none;
}
.woocommerce-checkout .checkout .woocommerce-checkout-review-order tr {
  border: solid 1px #D9D9D9;
}
.woocommerce-checkout .checkout #place_order {
  color: white;
  background: #000;
  outline: none;
  border: none;
  border-radius: 4px;
  -webkit-appearance: none;
  transition: background 0.2s;
}
.woocommerce-checkout .checkout #place_order:hover {
  cursor: pointer;
}
.woocommerce-checkout .checkout #place_order:hover, .woocommerce-checkout .checkout #place_order:active, .woocommerce-checkout .checkout #place_order:focus {
  background: #FFC270;
}
.woocommerce-checkout .checkout #payment {
  background: #F5F5F5;
}
.woocommerce-checkout .checkout #payment .payment_box {
  background: #EBEBEB;
}
.woocommerce-checkout .checkout #payment .payment_box:before {
  border-bottom-color: #EBEBEB;
}
.woocommerce-checkout .checkout #payment .payment_methods {
  border-color: #DEDEDE;
}

.woocommerce-thankyou-order-received {
  padding: 12px 18px;
  background: #EEFAE8;
  border: solid 1px #77a464;
  border-radius: 4px;
}
.woocommerce-thankyou-order-received:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #77a464;
  margin-right: 8px;
}

.woocommerce-order-received .woocommerce-order .woocommerce-thankyou-order-details {
  margin-top: 2.25em;
}
.woocommerce-order-received .woocommerce-customer-details address {
  padding: 18px 24px;
}

.checkout_coupon.woocommerce-form-coupon p {
  margin-top: 0;
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
  width: 50%;
}

.woocommerce-account .main-container {
  padding: 0 6.25%;
}
.woocommerce-account .entry {
  padding: 0;
}
.woocommerce-account .post-content > .woocommerce {
  display: flex;
  border: solid 1px #EBEBEB;
  border-radius: 6px;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  float: none;
  background: #EBEBEB;
  padding: 1.5em;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin: 0;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  margin-bottom: 12px;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active {
  font-weight: 900;
}
.woocommerce-account .woocommerce-MyAccount-content {
  width: 70%;
  float: none;
  padding: 0 1.5em;
}
.woocommerce-account .woocommerce-MyAccount-content form > h3, .woocommerce-account .woocommerce-MyAccount-content .archive-header form > h1, .archive-header .woocommerce-account .woocommerce-MyAccount-content form > h1,
.woocommerce-account .woocommerce-MyAccount-content .search-header form > h1,
.search-header .woocommerce-account .woocommerce-MyAccount-content form > h1 {
  margin-top: 24px;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-orders-table,
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-table {
  margin: 1.5em 0;
  border-collapse: collapse;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-orders-table td, .woocommerce-account .woocommerce-MyAccount-content .woocommerce-orders-table th,
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-table td,
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-table th {
  border: none;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-orders-table tr,
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-table tr {
  border: solid 1px #D9D9D9;
}
.woocommerce-account .woocommerce-Message {
  margin-top: 1.5em;
}
.woocommerce-account .woocommerce-EditAccountForm {
  margin-top: 24px;
}
.woocommerce-account .woocommerce-EditAccountForm input + span {
  display: block;
  margin-top: 12px;
}
.woocommerce-account .woocommerce-EditAccountForm fieldset {
  margin: 1.5em 0;
  padding: 0;
  border: none;
}
.woocommerce-account .woocommerce-EditAccountForm fieldset legend {
  display: block;
  font-weight: 900;
  margin-bottom: 12px;
}
.woocommerce-account:not(.logged-in) .post-content > .woocommerce {
  display: block;
  max-width: 540px;
  margin: 0 auto;
  border: none;
}
.woocommerce-account:not(.logged-in) .post-content > .woocommerce h2 {
  text-align: center;
}

@media all and (max-width: 768px) {
  .woocommerce-account .post-content > .woocommerce {
    flex-direction: column;
  }
}
.header-promo {
  position: relative;
}
.header-promo .slides {
  position: relative;
  width: 100%;
}
.header-promo .slide {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60vh;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.header-promo .slide.current {
  position: relative;
  visibility: visible;
  opacity: 1;
}
.header-promo .slide.center-align {
  justify-content: center;
  text-align: center;
}
.header-promo .slide.center-align .content {
  padding-left: 0;
}
.header-promo .slide.right-align {
  justify-content: flex-end;
  text-align: right;
}
.header-promo .slide.right-align .content {
  padding: 0 6.25% 0 0;
}
.header-promo .content {
  position: relative;
  z-index: 2;
  align-self: center;
  width: 50%;
  padding-left: 6.25%;
  color: #fff;
}
.header-promo .title {
  font-weight: 900;
  margin-bottom: 0;
}
.header-promo .subtitle {
  margin: 0.75em 0 1.5em;
}
.header-promo .button {
  margin: 1.5em 0;
}
.header-promo .button a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: 9px 18px;
  transition: color 0.2s, background 0.2s;
}
.header-promo .button a:link, .header-promo .button a:visited {
  color: #fff;
}
.header-promo .button a:hover, .header-promo .button a:active, .header-promo .button a:focus {
  background: #545454;
  color: #fff;
}
.header-promo .background,
.header-promo .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-promo .background {
  background-size: cover;
  background-position: 50%;
}
.header-promo .overlay {
  z-index: 1;
  background: #000000;
  opacity: 0;
}
.header-promo .navigation {
  position: absolute;
  z-index: 9;
  bottom: 1.5em;
  left: 0;
  right: 0;
  text-align: center;
}
.header-promo .navigation div {
  position: relative;
  display: inline-block;
  width: 15%;
  max-width: 160px;
  height: 6px;
  margin: 0 0.75em;
}
.header-promo .navigation div.current button {
  background: #fff;
}
.header-promo .navigation div button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.5);
}
.header-promo .navigation div button:hover {
  cursor: pointer;
}
.header-promo .navigation div button:hover, .header-promo .navigation div button:active, .header-promo .navigation div button:focus {
  background: #fff;
}

.rtl .header-promo .content {
  padding: 0 6.25% 0 0;
}

@media all and (min-width: 37.5em) {
  .header-promo .title {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.143;
    /* 32px */
  }
}
@media all and (min-width: 43.75em) {
  .header-promo .subtitle {
    font-size: 1.3125em;
    /* 21px / 16px */
    line-height: 1.143;
    /* 24px */
  }
}
@media all and (min-width: 56.25em) {
  .header-promo .title {
    font-size: 2.375em;
    /* 38px / 16px */
    line-height: 1.342;
    /* 42px */
  }
}
@media all and (min-width: 68.75em) {
  .header-promo .title {
    font-size: 3.188em;
    /* 51px / 16px */
    line-height: 1.06;
    /* 54px */
  }
}
@media all and (min-width: 87.5em) {
  .header-promo .slides {
    margin-top: 1.5em;
    border: solid 6px rgba(0, 0, 0, 0.1);
  }
}
.page-template-homepage .section-container {
  padding: 1.5em 6.25%;
}
.page-template-homepage .woocommerce h2 {
  text-align: center;
  font-weight: 400;
}
.page-template-homepage .woocommerce ul.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0.75em auto;
}
.page-template-homepage .woocommerce ul.products:before, .page-template-homepage .woocommerce ul.products:after {
  display: none;
}
.page-template-homepage .woocommerce ul.products li,
.page-template-homepage .woocommerce ul.products .entry {
  float: none;
  margin: 0;
  width: 48%;
  margin-bottom: 18px !important;
}
.page-template-homepage .woocommerce ul.products.count-1 {
  max-width: 560px;
}
.page-template-homepage .woocommerce ul.products.count-1 li,
.page-template-homepage .woocommerce ul.products.count-1 .entry {
  width: 100%;
}
.page-template-homepage .woocommerce ul.products.count-3 li:first-child,
.page-template-homepage .woocommerce ul.products.count-3 .entry:first-child, .page-template-homepage .woocommerce ul.products.count-5 li:first-child,
.page-template-homepage .woocommerce ul.products.count-5 .entry:first-child, .page-template-homepage .woocommerce ul.products.count-7 li:first-child,
.page-template-homepage .woocommerce ul.products.count-7 .entry:first-child, .page-template-homepage .woocommerce ul.products.count-9 li:first-child,
.page-template-homepage .woocommerce ul.products.count-9 .entry:first-child, .page-template-homepage .woocommerce ul.products.count-11 li:first-child,
.page-template-homepage .woocommerce ul.products.count-11 .entry:first-child {
  width: 100%;
}
.page-template-homepage .shortcode-inner {
  margin: 1.5em auto 3em;
}
.page-template-homepage .product-categories ul.categories .title {
  display: inline-block;
  margin-top: 6px;
}
.page-template-homepage .product-categories ul.categories .title:hover, .page-template-homepage .product-categories ul.categories .title:active, .page-template-homepage .product-categories ul.categories .title:focus {
  text-decoration: underline;
}
.page-template-homepage .product-categories ul.categories .title span {
  font-weight: 900;
}
.page-template-homepage .latest-posts .post-header {
  margin-bottom: 0.75em;
}
.page-template-homepage .latest-posts .post-byline {
  margin-top: 0;
}
.page-template-homepage .latest-posts .entry {
  padding: 0;
}
.page-template-homepage .latest-posts .more-link-wrapper {
  margin-bottom: 1.5em;
}

@media all and (min-width: 43.75em) {
  .page-template-homepage .woocommerce h2 {
    margin-bottom: 36px;
  }
  .page-template-homepage .woocommerce ul.products.count-3 li,
.page-template-homepage .woocommerce ul.products.count-3 .entry, .page-template-homepage .woocommerce ul.products.count-6 li,
.page-template-homepage .woocommerce ul.products.count-6 .entry, .page-template-homepage .woocommerce ul.products.count-9 li,
.page-template-homepage .woocommerce ul.products.count-9 .entry {
    width: 32%;
  }
  .page-template-homepage .woocommerce ul.products.count-3 li:first-child,
.page-template-homepage .woocommerce ul.products.count-3 .entry:first-child, .page-template-homepage .woocommerce ul.products.count-6 li:first-child,
.page-template-homepage .woocommerce ul.products.count-6 .entry:first-child, .page-template-homepage .woocommerce ul.products.count-9 li:first-child,
.page-template-homepage .woocommerce ul.products.count-9 .entry:first-child {
    width: 32%;
  }
  .page-template-homepage .woocommerce ul.products.count-5 li:first-child, .page-template-homepage .woocommerce ul.products.count-5 li:nth-child(2),
.page-template-homepage .woocommerce ul.products.count-5 .entry:first-child,
.page-template-homepage .woocommerce ul.products.count-5 .entry:nth-child(2) {
    width: 48%;
  }
  .page-template-homepage .woocommerce ul.products.count-5 li:nth-child(3), .page-template-homepage .woocommerce ul.products.count-5 li:nth-child(4), .page-template-homepage .woocommerce ul.products.count-5 li:nth-child(5),
.page-template-homepage .woocommerce ul.products.count-5 .entry:nth-child(3),
.page-template-homepage .woocommerce ul.products.count-5 .entry:nth-child(4),
.page-template-homepage .woocommerce ul.products.count-5 .entry:nth-child(5) {
    width: 32%;
  }
  .page-template-homepage .woocommerce ul.products.count-7 li:first-child,
.page-template-homepage .woocommerce ul.products.count-7 .entry:first-child {
    width: 48%;
  }
  .page-template-homepage .woocommerce ul.products.count-7 li:nth-child(5), .page-template-homepage .woocommerce ul.products.count-7 li:nth-child(6), .page-template-homepage .woocommerce ul.products.count-7 li:nth-child(7),
.page-template-homepage .woocommerce ul.products.count-7 .entry:nth-child(5),
.page-template-homepage .woocommerce ul.products.count-7 .entry:nth-child(6),
.page-template-homepage .woocommerce ul.products.count-7 .entry:nth-child(7) {
    width: 32%;
  }
  .page-template-homepage .woocommerce ul.products.count-11 li,
.page-template-homepage .woocommerce ul.products.count-11 .entry {
    width: 32%;
  }
  .page-template-homepage .woocommerce ul.products.count-11 li:first-child, .page-template-homepage .woocommerce ul.products.count-11 li:nth-child(2),
.page-template-homepage .woocommerce ul.products.count-11 .entry:first-child,
.page-template-homepage .woocommerce ul.products.count-11 .entry:nth-child(2) {
    width: 48%;
  }
  .page-template-homepage .latest-posts .post-title {
    margin-bottom: 0;
  }
}
@media all and (min-width: 50em) {
  .page-template-homepage .section-container {
    padding-top: 2.25em;
  }
  .page-template-homepage .woocommerce ul.products {
    margin: 3em auto;
  }
}
@media all and (min-width: 56.25em) {
  .page-template-homepage .woocommerce ul.products.count-4 li,
.page-template-homepage .woocommerce ul.products.count-4 .entry, .page-template-homepage .woocommerce ul.products.count-8 li,
.page-template-homepage .woocommerce ul.products.count-8 .entry, .page-template-homepage .woocommerce ul.products.count-12 li,
.page-template-homepage .woocommerce ul.products.count-12 .entry {
    width: 24%;
  }
  .page-template-homepage .woocommerce ul.products.count-7 li:first-child, .page-template-homepage .woocommerce ul.products.count-7 li:nth-child(2), .page-template-homepage .woocommerce ul.products.count-7 li:nth-child(3),
.page-template-homepage .woocommerce ul.products.count-7 .entry:first-child,
.page-template-homepage .woocommerce ul.products.count-7 .entry:nth-child(2),
.page-template-homepage .woocommerce ul.products.count-7 .entry:nth-child(3) {
    width: 32%;
  }
  .page-template-homepage .woocommerce ul.products.count-7 li:nth-child(4), .page-template-homepage .woocommerce ul.products.count-7 li:nth-child(5), .page-template-homepage .woocommerce ul.products.count-7 li:nth-child(6), .page-template-homepage .woocommerce ul.products.count-7 li:nth-child(7),
.page-template-homepage .woocommerce ul.products.count-7 .entry:nth-child(4),
.page-template-homepage .woocommerce ul.products.count-7 .entry:nth-child(5),
.page-template-homepage .woocommerce ul.products.count-7 .entry:nth-child(6),
.page-template-homepage .woocommerce ul.products.count-7 .entry:nth-child(7) {
    width: 24%;
  }
  .page-template-homepage .woocommerce ul.products.count-10 li:first-child, .page-template-homepage .woocommerce ul.products.count-10 li:nth-child(2), .page-template-homepage .woocommerce ul.products.count-10 li:nth-child(3), .page-template-homepage .woocommerce ul.products.count-10 li:nth-child(4), .page-template-homepage .woocommerce ul.products.count-10 li:nth-child(5), .page-template-homepage .woocommerce ul.products.count-10 li:nth-child(6),
.page-template-homepage .woocommerce ul.products.count-10 .entry:first-child,
.page-template-homepage .woocommerce ul.products.count-10 .entry:nth-child(2),
.page-template-homepage .woocommerce ul.products.count-10 .entry:nth-child(3),
.page-template-homepage .woocommerce ul.products.count-10 .entry:nth-child(4),
.page-template-homepage .woocommerce ul.products.count-10 .entry:nth-child(5),
.page-template-homepage .woocommerce ul.products.count-10 .entry:nth-child(6) {
    width: 32%;
  }
  .page-template-homepage .woocommerce ul.products.count-10 li:nth-child(7), .page-template-homepage .woocommerce ul.products.count-10 li:nth-child(8), .page-template-homepage .woocommerce ul.products.count-10 li:nth-child(9), .page-template-homepage .woocommerce ul.products.count-10 li:nth-child(10),
.page-template-homepage .woocommerce ul.products.count-10 .entry:nth-child(7),
.page-template-homepage .woocommerce ul.products.count-10 .entry:nth-child(8),
.page-template-homepage .woocommerce ul.products.count-10 .entry:nth-child(9),
.page-template-homepage .woocommerce ul.products.count-10 .entry:nth-child(10) {
    width: 24%;
  }
  .page-template-homepage .woocommerce ul.products.count-11 li,
.page-template-homepage .woocommerce ul.products.count-11 .entry {
    width: 24%;
  }
  .page-template-homepage .woocommerce ul.products.count-11 li:first-child, .page-template-homepage .woocommerce ul.products.count-11 li:nth-child(2), .page-template-homepage .woocommerce ul.products.count-11 li:nth-child(3),
.page-template-homepage .woocommerce ul.products.count-11 .entry:first-child,
.page-template-homepage .woocommerce ul.products.count-11 .entry:nth-child(2),
.page-template-homepage .woocommerce ul.products.count-11 .entry:nth-child(3) {
    width: 32%;
  }
}
@media all and (min-width: 62.5em) {
  .page-template-homepage .woocommerce ul.products.count-5 li.product,
.page-template-homepage .woocommerce ul.products.count-5 .entry.product {
    width: 19%;
  }
}
/*

ATTENTION:

Please do not edit this. Your changes will be overwritten when you update modern_store.

If you want to make CSS edits, use the "Additional CSS" section in the Customizer instead (Appearance > Customize).

If you want more information about customizing modern_store with CSS, check out this guide: https://www.competethemes.com/help/custom-css-modern-store/

*/

/*# sourceMappingURL=style.css.map */
